In [4]:
pip install xgboost

Collecting xgboost
  Using cached xgboost-2.0.0-py3-none-win_amd64.whl (99.7 MB)
Requirement already satisfied: numpy in d:\anaconda\lib\site-packages (from xgboost) (1.21.5)
Requirement already satisfied: scipy in d:\anaconda\lib\site-packages (from xgboost) (1.7.3)
Installing collected packages: xgboost
Successfully installed xgboost-2.0.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
import pandas as pd
from sklearn.model_selection import train_test_split
from xgboost import XGBRegressor
from sklearn.metrics import mean_squared_error, r2_score


data = pd.read_csv('train.csv')
data.head()

  Reporting Economy     Product/Sector  Year     Value
0             World  Total merchandise  2016  16036335
1             World  Total merchandise  2017  17741325
2             World  Total merchandise  2018  19550037
3             World  Total merchandise  2019  19017108
4             World  Total merchandise  2020  17653275

In [7]:
label_cols = ['Reporting Economy', 'Product/Sector']
for col in label_cols:
    data[col] = pd.factorize(data[col])[0]
data.head()

   Reporting Economy  Product/Sector  Year     Value
0                  0               0  2016  16036335
1                  0               0  2017  17741325
2                  0               0  2018  19550037
3                  0               0  2019  19017108
4                  0               0  2020  17653275

In [31]:
X = data[['Reporting Economy', 'Product/Sector', 'Year']]
y = data['Value']

In [32]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [33]:
# Initialize and train the XGBoost Regressor model
xgb_regressor = XGBRegressor(random_state=42)
xgb_regressor.fit(X_train, y_train)

XGBRegressor(base_score=None, booster=None, callbacks=None,
             colsample_bylevel=None, colsample_bynode=None,
             colsample_bytree=None, device=None, early_stopping_rounds=None,
             enable_categorical=False, eval_metric=None, feature_types=None,
             gamma=None, grow_policy=None, importance_type=None,
             interaction_constraints=None, learning_rate=None, max_bin=None,
             max_cat_threshold=None, max_cat_to_onehot=None,
             max_delta_step=None, max_depth=None, max_leaves=None,
             min_child_weight=None, missing=nan, monotone_constraints=None,
             multi_strategy=None, n_estimators=None, n_jobs=None,
             num_parallel_tree=None, random_state=42, ...)

In [34]:
# Make predictions on the test set
predictions = xgb_regressor.predict(X_test)

# Calculate and print the evaluation metrics
mse = mean_squared_error(y_test, predictions)
r_squared = r2_score(y_test, predictions)

print("Mean Squared Error:", mse)
print("R-squared:", r_squared)

Mean Squared Error: 264702602009.31134
R-squared: 0.44426874953327444

In [35]:
predictions = xgb_regressor.predict([[0,0,2021]])
predictions

array([17656614.], dtype=float32)